SEND_MESSAGE_END_POINT="<HOST URL>/api/v1/livechat/message"
HISTORY_ENDPOINT="<HOST URL>/api/v1/livechat/messages.history/"
GET_RESPONSE="<HOST URL>/api-new/chathistory/message/"
TOKEN="<ROCKET CHAT USER TOKEN>"
ROOM_ID="<ROCKET CHAT ROOM ID>"
